<div class="subject-form-container">
    <form class="form-container" action="">
        <div class="form-input-container">
            <h5 class="input-heading">Subject Name*</h5>
            <input type="text" pattern="" id="subject-name" class="subject-input" name="subject-name" placeholder="Subject Name">
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Subject Code*</h5>
            <input type="text" pattern="" id="subject-code" class="subject-input" name="subject-code" placeholder="Subject Code">
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Subject Credit*</h5>
            <input type="text" pattern="" id="subject-credit" class="subject-input" name="subject-credit" placeholder="Subject Credit">
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Assignment*</h5>
            <input type="text" pattern="" id="assignment-name" class="assignment-name-input" name="assignment-name" placeholder="Assignment Name">
            <input type="text" pattern="" id="assignment-percentage" class="assignment-percentage-input" name="assignment-name" placeholder="%">
        </div>
        <button class="submit-btn">Add Subject</button>
    </form>
</div>

