<div class="subject-form-container">
    <form class="form-container" action="/subject/add-subject" name="subject_form" method="POST">
        <div class="form-input-container">
            <h5 class="input-heading">Subject Name* (less than 100 characters)</h5>
            <input type="text" pattern="[A-Za-z0-9 ]{1,100}" id="subject-name" class="subject-input" name="subject_name" placeholder="Subject Name" required>
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Subject Code* (9 characters)</h5>
            <input type="text" pattern="[A-Za-z0-9]{9}" id="subject-code" class="subject-input" name="subject_code" placeholder="Subject Code" required>
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Subject Credit*</h5>
            <input type="number"  id="subject-credit" class="subject-input" name="credit" min="1" step = "0.5" placeholder="Subject Credit" oninput="validity.valid||(value='');" required>
        </div>
        <div class="form-input-container">
            <h5 class="input-heading">Target*</h5>
            <input type="number" pattern="" id="target" class="subject-input" name="target" min="1" step = "1" placeholder="Target" oninput="validity.valid||(value='');" required>
        </div>
        <button class="submit-btn" type="submit">Add Subject</button>
    </form>
</div>

