 <div class="subjectInfo" style="height: 400px; padding-top: 150px;">
    <center>
        <h1>please enter the new nick name:</h1>
        <form action="/change-info" method="POST">
        <input type="text" class="subject-input" name="nickName" placeholder="new nick name" required><br><br>
        <button type="submit" class="submit-btn">Confirm</button>
        </form>
    </center>
    </div>