<center>
    <h1>please enter the new nick name:</h1>
    <form action="/change-info" method="POST">
    <input type="text" name="nickName" placeholder="new nick name" required>
    <button type="submit">Confirm</button>
    </form>
</center>