
<script>
    function confirm(){
        var password1 = document.getElementById("password1")
        var password2 = document.getElementById("password2")
        if(password1.value === password2.value){
            return true
        }
        alert("two passwords are not the same, please try again.")
        return false
    }
</script>
<p>Please enter your new password:</p>
<span style="color: #374fd6;">Only 5-10 letters or numbers are allowed.</span>
<form action="/change-password" method="POST">
<input type="text" id="password1" name="password1" pattern="[A-Za-z0-9]{5,10}" placeholder="new password" required>
<p>Confirm your password:</p>
<input type="text" id="password2" name="password2" pattern="[A-Za-z0-9]{5,10}" placeholder="new password" required>
<button type="submit" onclick="return confirm()">Confirm</button>
</form>
