<div class="category-container-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i> 
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>





