<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i> 
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<div class="category-container">
    <h1>INFO30005</h1>
    <p>Web Info IT</p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div>
<a href="/subject/add-subject"><div class="category-container">
    <h1>Add Subject</h1>
    <p></p>
    <i class="fas fa-arrow-circle-right subject-arrow"></i>
</div></a>






