<section id="introPage"> 
    <div class='subjectInfo'>
        <h2>How we calculate the scores?</h2>
        <p>This is a tool for students to estimate their future assignment scores, in order to achieve their final target score.</p>
        <ol>
            <li>
                <mark><b>Always</b></mark> give your assignments a name at the first column.
            </li>
            <li>
                You can leave the second column (your actual scores) <mark><b>empty</b></mark> when you have not received your scores yet.
            </li>
            <li>
                Make sure the last column (total percentages of each assignment) are adding up to <mark><b>100%</b></mark>.
            </li>
            <li>Your actual scores need to be <mark><b>less</b></mark> than the percentages of each assignment (column 2 smaller than column 3).</li>

        </ol>
    </div>
</section>