<div class="subjectInfo" style="padding-top: 132.125px; padding-bottom: 132.125px;">
<center>
    <small>Nickname</small>
    <h1>{{thiscustomer.nickName}}</h1>
    <small>Email</small>
    <h1>{{thiscustomer.email}}</h1>
    <a href="/logout"><button class="submit-btn" style="padding-left: 85.3985px; padding-right: 85.3985px;">Logout</button></a><br>
    <a href="/change-password"><button class="submit-btn delete-subject" style="margin-top: 10px;">change password</button></a><br>
    <a href="/change-info"><button class="submit-btn change-info" style="margin-left: 0;">change nick name</button></a><br>
</center>
</div>