<center>
    <small>Nickname</small>
    <h1>{{thiscustomer.nickName}}</h1>
    <small>Email</small>
    <h1>{{thiscustomer.email}}</h1>
    <a href="/logout"><button class="submit-btn">Logout</button></a>
    <a href="/change-password"><button class="submit-btn">change password</button></a>
    <a href="/change-info"><button class="submit-btn">change nick name</button></a>
</center>