<center>
    <small>Nickname</small>
    <h1>{{thiscustomer.nickName}}</h1>
    <small>Email</small>
    <h1>{{thiscustomer.email}}</h1>
    <a href="/logout"><button class="submit-btn">Logout</button></a>
</center>