<section id="reportPage"> 
    <div class='scoreReport'>
        <p>To reach a goal of xx(H1/H2A...), you should at least have scores of:</p>
        <p>Assignment A：xxx</p>
        <p>Assignment B：xxx</p>
        <p>You reached the grade of xxx</p>
        <p>// 实现方法：</p>
        <p>1. 传入subject实体并列出每一个assignment的名称及分数（已有或估算结果）</p>
        <p>2. 传入subject实体并为未拥有成绩的assignment平均出一个分数（由controller计算完毕后直接传入）</p>
        <p>2. 提示是否满足等地要求（不满足则提示无法满足并给出可满足的最高等第，由controller计算完毕后直接传入）</p>
        <a href="/subject">Back to the subject page</a>
    </div>
    <a href="/">Back to Homepage</a>
</section>