<section id="subjectPage"> 
    <script>
        function addAssignment() {
            // 每调用一次就增加label和input
            var subjectForm = document.getElementById("details")
            var n_assignments = subjectForm.getElementsByTagName("label").length + 1
            var label_name= "ass" + n_assignments //ass2, ass3...
            subjectForm.innerHTML += "<li class = "+ label_name + ">" + 
                                    "<label for=" + label_name + ">ID: </label>".replace("ID", "Assignment " + n_assignments) + " " +
                                    "<input id='ass' type='text' name='obtainedScore'> " + " " +
                                    "<input id='ass' type='text' name='totalScore'>" +
                                    "<button id=" + label_name + " onclick=\"remove_ass(\'" + label_name + "\');\"><img src=\"../image/cancel.png\"></button>" +
                                    "</li>"
        }
        function remove_ass(ass_number) {
            document.getElementsByClassName(ass_number)[0].remove();
        }
        function clearAssignments(){
            // 每调用一次就重置label和input
            var subjectForm = document.getElementById("details")
            subjectForm.innerHTML = "<label for='ass'>Assignment 1:</label> "
            subjectForm.innerHTML += "<input id='ass' type='text' name='obtainedScore'> "
            subjectForm.innerHTML += "<input id='ass' type='text' name='totalScore'><br>"
        }
        function checkValidity(){
            // 提交计算之前检验输入是否有效
            // 1：所有assignments的总分百分比之和必须为100%
            // 2：每一个assignments的已得分数不能大于对应总分
        }
    </script>
    <div class='subjectInfo'>
        <p>Subject Code: {{subjectInfo.subject_code}}</p>
        <p>Subject Name: {{subjectInfo.subject_name}}</p>
        <p>Credit Point: {{subjectInfo.credit}}</p>
        <p>Estimate your overall grades:</p>
        <a href="/calcDescription">Click here to read more details</a>
        <button onclick="addAssignment()">Add New</button>
        <button onclick="clearAssignments()">Clear All</button>
        
        <form action="/subjectInfo" method="post">
            <ul id="details">
                <li class = "ass1">
                    <label for='ass1'>Assignment 1:</label>
                    <input id='ass1' type='text' name='obtainedScore'>
                    <input id='ass1' type='text' name='totalScore'>
                    <button id='ass1' onclick="remove_ass('ass1');"><img src="../image/cancel.png"></button>
                </li>

            </ul>
            <button type="submit" class="btn">Calculate!!</button>
        </form>
    </div>
    <a href="/">Back to Homepage</a>
</section>