@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --text-big: 28px;
    --text-medium: 18px;
    --text-small: 10px;
    --text-header: 20px;
    --text-footer: 10px;
    --color-light: #F5F6FD;
    --color-blue: #141E59;
    --color-lightblue: #374fd6;
    --color-red: rgb(252, 54, 54);
    --text: #2b3044;
    --line: #ffffff;
    --line-active: #275efe;
}

body {
    /* page layout - desktop version */
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.25fr;
    grid-template-rows: 40px 4fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "header header header" "aside main ." "footer footer footer";
    background-color: var(--color-light);
    font-family: 'Ubuntu', sans-serif;
}

header {
    grid-area: header;
    font-size: var(--text-header);
    color: var(--color-blue);
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

aside {
    grid-area: aside;
    height: 600px;
    width: 230px;
    color: var(--color-blue);
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: end;
}

aside ul {
    padding-top: 20px;
    margin: 0;
    list-style-type: none;
}

aside p {
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--text-medium);
    margin: 0;
    color: var(--text);
    padding-bottom: 20px;
}

aside p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
}

aside p a svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

aside p a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: 0.1s;
    --offset: 180px;
}

.user-profolio-container {
    background: var(--color-lightblue);
    background: -webkit-linear-gradient(to right, var(--color-blue), var(--color-lightblue));
    background: linear-gradient(to right, var(--color-blue), var(--color-lightblue));
    height: 100px;
    width: 200px;
    border-radius: 25px;
    margin: 15px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.user-profolio-container p {
    padding: 0;
    color: white;
}

.profolio-pic-xontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 30px;
    width: 30px;
    padding: 12px 10px 8px 10px;
    font-size: 20px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.category-container {
    font-family: 'Ubuntu', sans-serif;
    height: 75px;
    width: 210px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.category-container h1 {
    font-size: var(--text-medium);
    margin: 0;
}

.category-container p {
    margin: 0;
}

#add-subject-link {
    color: rgb(17, 180, 91);
}

.subject-arrow {
    font-size: var(--text-big);
    float: right;
    margin-right: 10px;
}

.form-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-input-container {
    margin-bottom: 5px;
}

.input-heading {
    margin: 0;
}

.assignment-name-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 200px;
    margin-right: 20px;
}

.assignment-percentage-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 50px;
}


/* 
 * orginal from https://codepen.io/FlorinPop17/pen/vPKWjd by Florin Pop
 * modified by Yifei Wang on 14 Jul, 2021
*/

.submit-btn {
    border-radius: 20px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    text-align: center;
}

.submit-btn:active {
    transform: scale(0.95);
}

.submit-btn:focus {
    outline: none;
}

.submit-btn.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.subject-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
}


/* end of thr style sheet from Florin Pop */


/* 
 * Orginal from https://codepen.io/faaezahmd/pen/dJeRex by Faiz Ahmed
 * Modified by Yifei Wang on 15 Jul, 2021
*/

.subject-detail-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.subject-detail-header {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.target-header {
    font-size: var(--text-medium);
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

.subject-detail-header small {
    font-size: 0.5em;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #afbdbe;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 30%;
}

.responsive-table .col-2 {
    flex-basis: 20%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
    color: var(--color-red);
}


/* end of thr style sheet from Faiz Ahmed */

.change-info {
    border: 1px solid var(--color-lightblue);
    background-color: var(--color-lightblue);
    margin-left: 10px;
    margin-top: 10px;
}

.delete-subject {
    border: 1px solid var(--color-red);
    background-color: var(--color-red);
}

a {
    color: black;
}

.delete-btn-form {
    width: 222.688px;
    height: 50px;
    margin: 0;
}

@media screen and (max-width: 640px) {
    /* page layout for phones */
    body {
        display: flex;
        flex-direction: column;
    }
    aside {
        height: 200px;
    }
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}